<section class="apply">
    <div class="container app">
        <h2 class="apply-title">How Product Work?</h2>
        <div class="app">
            <ul class="apply-list">
                <li class="apply-item">
                    <img class="apply-photo" src="./images/customers/mac1.jpg" alt="mask" width="500" height="280">
                    <div class="apply-cont">
                        <h5 class="apply-item-text">STEP 1</h5>
                        <h4 class="apply-item-title">Apply for a product</h4>
                        <p class="apply-item-descr">Completing our easy step-by-step application form gives you
                            access to multiple
                            business with
                            multiple products. We analyse your business through our proprietary credit analysis
                            technology
                        </p>
                    </div>
                </li>
                <li class="apply-item-revers">
                    <img class="apply-photo-revers" src="./images/customers/mac2.jpg" alt="mask 1" width="500"
                        height="280">
                    <div class="apply-cont-revers">
                        <h5 class="apply-item-text-revers">STEP 2 </h5>
                        <h4 class="apply-item-title-revers">Pay fully refundable</h4>
                        <p class="apply-item-descr-revers">Product will contactting you instantly to receive
                            payment
                            of the
                            Application Fee. if no
                            offer
                            of
                            product is available, your fee will be fully refunded.</p>
                    </div>
                </li>
                <li class="apply-item">
                    <img class="apply-photo" src="./images/customers/mac3.jpg" alt="mask 2" width="500" height="280">
                    <div class="apply-cont">
                        <h5 class="apply-item-text">STEP 3</h5>
                        <h4 class="apply-item-title">Completion</h4>
                        <p class="apply-item-descr">Product will continue to liase between borrower and manager
                            to
                            procees and complete a
                            quick
                            and
                            efficient settlement</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn-apply" type="button">Get in touch with us</button>
</section>