<section class="busines">
    <div class="container bus">
        <h2 class="busines-title">Why Choose Product?</h2>
        <ul class="busines-list">
            <li class="busines-item">
                <div class="busines-icon green">
                    <svg class="busines-icons-item" width="12" height="18">
                        <use href="/img/icons.svg#icon-mouse"></use>
                    </svg>
                </div>
                <h3 class="busines-item-title">Special Business</h3>
                <p class="busines-item-text">Product helps you see how many<br>
                    more days you need to work<br>
                    to reach your financial goal<br>
                    for the month and year.</p>
            </li>
            <li class="busines-item">
                <div class="busines-icon blue">
                    <svg class="busines-icons-item" width="18" height="18">
                        <use href="/img/icons.svg#icon-wave"></use>
                    </svg>
                </div>
                <h3 class="busines-item-title">Instant Result</h3>
                <p class="busines-item-text">Product helps you see how many<br>
                    more days you need to work<br>
                    to reach your financial goal<br>
                    for the month and year.</p>
            </li>
            <li class="busines-item">
                <div class="busines-icon red">
                    <svg class="busines-icons-item" width="12" height="18">
                        <use href="/img/icons.svg#icon-hart"></use>
                    </svg>
                </div>
                <h3 class="busines-item-title">Fastest way to organize</h3>
                <p class="busines-item-text">Product helps you see how many<br>
                    more days you need to work<br>
                    to reach your financial goal<br>
                    for the month and year.</p>
            </li>
        </ul>
    </div>
</section>