<section class="clients">
    <div class="container cont-clients">
        <h1 class="clients-title">Our Clients</h1>
        <ul class="clients-list">
            <li class="clients-logo">
                <a href="https://www.airbnb.co.uk/" target="_blank">
                    <svg class="" width="159" height="50">
                        <use href="/img/icons.svg#icon-airbnb"></use>
                    </svg>
                </a>
            </li>
            <li class="clients-logo">
                <a href="https://www.google.co.uk/" target="_blank">
                    <svg class="" width="146" height="50">
                        <use href="/img/icons.svg#icon-google"></use>
                    </svg>
                </a>
            </li>
            <li class="clients-logo">
                <a href="https://www.microsoft.com/uk-ua/" target="_blank">
                    <svg class="clients-picture" width="213" height="44">
                        <use href="/img/icons.svg#icon-microsoft"></use>
                    </svg>
                </a>
            </li>
            <li class="clients-logo">
                <a href="https://www.fedex.com/global/choose-location.html" target="_blank">
                    <svg class="" width="140" height="42">
                        <use href="/img/icons.svg#icon-fed-ex"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>