<section class="collaborative">
    <div class="container collab">
        <div class="cont-collab">
            <h2 class="collab-title">Optimisation for <span class="collab-title-span">Collaborative</span></h2>
            <p class="collab-descr">Few would argue that, despite the advancements of feminism over the past
                three decades, women still
                face
                a double
                standard when it comes to their behavior.</p>
            <ul class="collab-list">
                <li class="collab-list-item">
                    <h3 class="item-title">Accessory makers</h3>
                    <p class="collab-descr-text">While most people enjoy casino gambling, sports betting,
                        lottery and
                        bingo playing for the
                        fun
                    </p>
                </li>
                <li class="collab-list-item">
                    <h3 class="item-title">Alterationists</h3>
                    <p class="collab-descr-text">If you are looking for a new way to promote your business that
                        won’t
                        cost you more money,
                    </p>
                </li>
            </ul>
        </div>
        <picture>
            <source srcset="/img/index-desktop/collab@1x.png 1x, /img/index-desktop/collab@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="/img/index-mobile/collab@1x.png 1x, /img/index-mobile/collab@2x.png 2x"
                media="(max-width: 767px)">
            <img class="collab-photo" src="/img/collaboration-img.png" alt="collaboration" width="540" height="500">
        </picture>
    </div>
</section>