<section class="coment">
    <div class="container com">
        <h2 class="coment-title">What Clients Say</h2>
        <p class="coment-descr">Problems trying to resolve the conflict between
            the two major realms of Classical physics: Newtonian mechanics</p>
        <ul class="coment-list">
            <li class="coment-item">
                <picture>
                    <source srcset="../img/index-desktop/stars@1x.png 1x, ../img/index-desktop/stars@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/index-mobile/star@1x.png 1x, ../img/index-mobile/star@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="coment-star" src="../img/stars.png" alt="stars" width="106" height="18">
                </picture>
                <p class="coment-text">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</p>
                <div class="comentar">
                    <picture>
                        <source
                            srcset="../img/index-desktop/ellipse1@1x.png 1x, ../img/index-desktop/ellipse1@2x.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="../img/index-mobile/ellipse1@1x.png 1x, ../img/index-mobile/ellipse1@2x.png 2x"
                            media="(max-width: 767px)">
                        <img class="coment-photo" src="../img/ellipse.png" alt="ellipse" width="50" height="50">
                    </picture>
                    <div class="comentar-text">
                        <h4 class="comment-item-title">Wahid Ari</h4>
                        <p class="coment-item-descr">Designer</p>
                    </div>
                </div>
            </li>
            <li class="coment-item">
                <picture>
                    <source srcset="../img/index-desktop/stars@1x.png 1x, ../img/index-desktop/stars@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/index-mobile/star@1x.png 1x, ../img/index-mobile/star@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="coment-star" src="../img/stars.png" alt="stars" width="106" height="18">
                </picture>
                <p class="coment-text">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</p>
                <div class="comentar">
                    <picture>
                        <source
                            srcset="../img/index-desktop/ellipse2@1x.png 1x, ../img/index-desktop/ellipse2@2x.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="../img/index-mobile/ellipse2@1x.png 1x, ../img/index-mobile/ellipse2@2x.png 2x"
                            media="(max-width: 767px)">
                        <img class="coment-photo" src="../img/ellipse2.png" alt="ellipse2" width="50" height="50">
                    </picture>
                    <div class="comentar-text">
                        <h4 class="comment-item-title">Wahid Ari</h4>
                        <p class="coment-item-descr">Designer</p>
                    </div>
                </div>
            </li>
            <li class="coment-item">
                <picture>
                    <source srcset="../img/index-desktop/stars@1x.png 1x, ../img/index-desktop/stars@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/index-mobile/star@1x.png 1x, ../img/index-mobile/star@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="coment-star" src="../img/stars.png" alt="stars" width="106" height="18">
                </picture>
                <p class="coment-text">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</p>
                <div class="comentar">
                    <picture>
                        <source
                            srcset="../img/index-desktop/ellipse3@1x.png 1x, ../img/index-desktop/ellipse3@2x.png 2x"
                            media="(min-width: 768px)">
                        <source srcset="../img/index-mobile/ellipse3@1x.png 1x, ../img/index-mobile/ellipse3@2x.png 2x"
                            media="(max-width: 767px)">
                        <img class="coment-photo" src="../img/ellipse3.png" alt="ellipse" width="50" height="50">
                    </picture>
                    <div class="comentar-text">
                        <h4 class="comment-item-title">Wahid Ari</h4>
                        <p class="coment-item-descr">Designer</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>