<section>
    <div class="container efects">
        <h4 class="efects-title">Product is being used with great effects alongside:</h4>
        <div class="cont-efect">
            <picture>
                <source srcset="/img/amico-mobile@1x.png 1x, /img/amico-mobile@1x.png 2x" media="(max-width: 767px)">
                <img class="amico-img" src="/img/pricing/amico@1x.png" alt="amico" width="352" height="288">
            </picture>
            <picture>
                <source srcset="/img/amico@1x.png 1x, /img/amico@1x.png 2x" media="(min-width: 768px)">
                <img class="efects-img" src="/img/amico.png" alt="amico" width="528" height="392">
            </picture>
            <ul class="efects-list">
                <li class="efects-item">
                    <div class="cont-efects-item-svg">
                        <svg class="efects-item-svg" width="24" height="24">
                            <use href="/img/icons.svg#icon-enter"></use>
                        </svg>
                        <h5 class="efects-item-title">Enterpreneur</h5>
                    </div>
                    <p class="efects-item-descr">Product is a great way to help medium and samall enterprise
                        owners
                        achieve their goals</p>
                </li>
                <li class="efects-item">
                    <div class="cont-efects-item-svg">
                        <svg class="efects-item-svg" width="24" height="24">
                            <use href="/img/icons.svg#icon-account"></use>
                        </svg>
                        <h5 class="efects-item-title">Accountants</h5>
                    </div>
                    <p class="efects-item-descr">Whether you are working on contract with clients, or on
                        other
                        key
                        accounting documents,
                        Product
                        is for you</p>
                </li>
                <li class="efects-item">
                    <div class="cont-efects-item-svg">
                        <svg class="efects-item-svg" width="24" height="24">
                            <use href="/img/icons.svg#icon-univer"></use>
                        </svg>
                        <h5 class="efects-item-title">Universities</h5>
                    </div>
                    <p class="efects-item-descr">Organize university projects and have documents easily
                        graded
                        online with Product</p>
                </li>
            </ul>
        </div>
    </div>
</section>