<section class="enterprise">
    <div class="container enter">
        <h6 class="enter-title">Join thousand of other who have
            already received offers</h6>
        <ul class="enter-list">
            <li class="enter-item">
                <img class="enter-item-photo" src="./images/customers/image-placeholder-1.png" alt="red folder"
                    width="150" height="150">
                <h7 class="enter-item-title">Business</h7>
                <p class="enter-text">Cash Flow</p>
                <p class="enter-text">Asset Backed</p>
                <p class="enter-text">Receivables Finance</p>
                <p class="enter-text-two">Find the best business product</p>
            </li>
            <li class="enter-item">
                <img class="enter-item-photo" src="./images/customers/image-placeholder.png" alt="blue folder"
                    width="150" height="150">
                <h7 class="enter-item-title">Enterprise</h7>
                <p class="enter-text">Site Acquisition</p>
                <p class="enter-text">Bridge</p>
                <p class="enter-text">Development Financing</p>
                <p class="enter-text-two">Find the best business product</p>
            </li>
        </ul>
    </div>
</section>