<section>
    <div class="container frequ">
        <h1 class="frequently-title">Frequently asked question</h1>
        <p class="frequently-descr">Something is not clear? You need help? Check our FAQ section</p>
        <div class="cont-frequ">
            <details>
                <summary class="frequ-list">
                    <svg class="icon-plus" width="24" height="24">
                        <use href="/img/icons.svg#icon-plus"></use>
                    </svg>
                    <svg class="icon-minus" width="24" height="24">
                        <use href="/img/icons.svg#icon-minus"></use>
                    </svg>What are my payment option?
                </summary>
                <p class="frequently-item-text">There are two main types of payment: cash and non-cash.
            </details>
            <details>
                <summary class="frequ-list">
                    <svg class="icon-plus" width="24" height="24">
                        <use href="/img/icons.svg#icon-plus"></use>
                    </svg>
                    <svg class="icon-minus" width="24" height="24">
                        <use href="/img/icons.svg#icon-minus"></use>
                    </svg>How can I invite collaborator to platform?
                </summary>
                <p class="frequently-item-text">After creating your account you will have an oppurtunity to
                    create your first project that will
                    be associated withthe collaborators e-mail. An invitation will be sent automatically.
                    Then,
                    invited user will have to confirm his account by e-mail and finish userd onboarding.</p>
            </details>
            <details>
                <summary class="frequ-list">
                    <svg class="icon-plus" width="24" height="24">
                        <use href="/img/icons.svg#icon-plus"></use>
                    </svg>
                    <svg class="icon-minus" width="24" height="24">
                        <use href="/img/icons.svg#icon-minus"></use>
                    </svg>Can I upgrade my plan?
                </summary>
                <p class="frequently-item-text">Yes
            </details>
            <details>
                <summary class="frequ-list">
                    <svg class="icon-plus" width="24" height="24">
                        <use href="/img/icons.svg#icon-plus"></use>
                    </svg>
                    <svg class="icon-minus" width="24" height="24">
                        <use href="/img/icons.svg#icon-minus"></use>
                    </svg>Can I cancel my plan at anytime?
                </summary>
                <p class="frequently-item-text">Yes
            </details>
        </div>
    </div>
</section>