<section class="great">
    <div class="container great-business">
        <div class="great-cont">
            <h2 class="great-title">Great Business made with Product.</h2>
            <p class="great-text">Build better customer relationships easily messaging that provides a more
                personal experience for you and your
                customers.</p>
            <form>
                <div class="great-form">
                    <input class="great-input" type="email" name="user-mail" id="user-mail"
                        placeholder="Enter your email adress" />
                    <span class="btn-span">
                        <button class="great-btn" type="submit">Join Now</button>
                    </span>
                </div>
            </form>
            <div class="great-join">
                <img src="/img/join.png" alt="join" width="121" height="50" />
                <p class="great-join-text">Join over <span class="span-join">4,000</span>+ other</p>
            </div>
        </div>
        <picture>
            <source srcset="/img/resources/messenger-desktop@1x.png 1x, /img/resources/messenger-desktop@2x.png 2x"
                media="(mix-width: 768px)">
            <source srcset="/img/resources/messenger-mobile@1x.png 1x, /img/resources/messenger-mobile@2x.png 2x"
                media="(max-width: 767px)">
            <img src="/img/messenger.png" alt="mesege" width="541" height="482">
        </picture>
    </div>
</section>