<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a class="header-logo" href="index.html">
        <img src="/img/logo.png" alt="logo" width="40" height="36">Product</a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-item-link active" href="index.html">Product</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item-link" href="pricing.html">Pricing</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item-link" href="customers.html">Customers</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-item-link" href="resources.html">Resources</a>
        </li>
      </ul>
    </nav>
    <ul class="list-btn">
      <li class="list-btn-item">
        <button type="button" class="list-btn-sign">Sign In</button>
      </li>
      <li class="list-btn-item">
        <button type="button" class="list-btn-sign">Sign Up</button>
      </li>
    </ul>
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="28" height="31">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>