<section class="join">
    <div class="container joins">
        <div class="cont-join">
            <h2 class="joins-title">Join 100 Compannies who boost their business with Product</h2>
            <button class="btn-joins" type="button">Get This</button>
        </div>
        <picture>
            <source srcset="../img/index-desktop/graphics@1x.png 1x, ../img/index-desktop/graphics@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="../img/index-mobile/graphics@1x.png 1x, ../img/index-mobile/graphics@2x.png 2x"
                media="(max-width: 767px)">
            <img class="joins-photo" src="../img/graphics.png" alt="grafics" width="351" height="331">
        </picture>
    </div>
</section>