<section class="laters">
    <div class="container cont-laters">
        <h2 class="laters-title">Latest Stories</h2>
        <p class="laters-text">We focus on ergonomics and meeting you where you work. It's only a keystroke
            away.</p>
        <ul class="laters-list">
            <li class="laters-item">
                <picture>
                    <source
                        srcset="./images/resources-mobile/placeholder1@1x.png 1x, ./images/resources-mobile/placeholder1@2x.png"
                        media="(min-width: 768px)">
                    <img class="laters-img" src="./images/resources/placeholder-1.jpg" alt="increasing" width="348"
                        height="187" />
                </picture>
                <p class="laters-item-descr">By <span class="laters-span">Wahid Ari</span> | 03 March 2019</p>
                <h3 class="laters-item-text">Increasing Prosperity With Positive Thinking</h3>
            </li>
            <li class="laters-item">
                <picture>
                    <source
                        srcset="./images/resources-mobile/placeholder2@1x.png 1x, ./images/resources-mobile/placeholder2@2x.png"
                        media="(min-width: 768px)">
                    <img class="laters-img" src="./images/resources/placeholder-2.jpg" alt="increasing" width="348"
                        height="187" />
                </picture>
                <p class="laters-item-descr">By <span class="laters-span">Wahid Ari</span> | 03 March 2019</p>
                <h3 class="laters-item-text">Motivation Is The First Step To Success</h3>
            </li>
            <li class="laters-item">
                <picture>
                    <source
                        srcset="./images/resources-mobile/placeholder3@1x.png 1x, ./images/resources-mobile/placeholder3@2x.png"
                        media="(min-width: 768px)">
                    <img class="laters-img" src="./images/resources/placeholder-3.jpg" alt="increasing" width="348"
                        height="187" />
                    <p class="laters-item-descr">By <span class="laters-span">Wahid Ari</span> | 03 March 2019
                    </p>
                    <h3 class="laters-item-text">Success Steps For Your Personal Or Business</h3>
            </li>
            <li class="laters-item">
                <picture>
                    <source
                        srcset="./images/resources-mobile/placeholder4@1x.png 1x, ./images/resources-mobile/placeholder4@2x.png"
                        media="(min-width: 768px)">
                    <img class="laters-img" src="./images/resources/placeholder-4.jpg" alt="increasing" width="348"
                        height="187" />
                </picture>
                <p class="laters-item-descr">By <span class="laters-span">Wahid Ari</span> | 03 March 2019
                </p>
                <h3 class="laters-item-text">Increasing Prosperity With Positive Thinking</h3>
            </li>
            <li class="laters-item">
                <picture>
                    <source
                        srcset="./images/resources-mobile/placeholder5@1x.png 1x, ./images/resources-mobile/placeholder5@2x.png"
                        media="(min-width: 768px)">
                    <img class="laters-img" src="./images/resources/placeholder-5.jpg" alt="increasing" width="348"
                        height="187" />
                </picture>
                <p class="laters-item-descr">By <span class="laters-span">Wahid Ari</span> | 03 March 2019
                </p>
                <h3 class="laters-item-text">Motivation Is The First Step To Success</h3>
            </li>
            <li class="laters-item">
                <picture>
                    <source
                        srcset="./images/resources-mobile/placeholder6@1x.png 1x, ./images/resources-mobile/placeholder6@2x.png"
                        media="(min-width: 768px)">
                    <img class="laters-img" src="./images/resources/placeholder-6.jpg" alt="increasing" width="348"
                        height="187" />
                </picture>
                <p class="laters-item-descr">By <span class="laters-span">Wahid Ari</span> | 03 March 2019</p>
                <h3 class="laters-item-text">Success Steps For Your Personal Or Business</h3>
            </li>
        </ul>
        <div class="cont-laters-icon">
            <p class="laters-text-descr">More Stories</p>
            <svg class="laters-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-circle_right"></use>
            </svg>
        </div>
    </div>
</section>