<section class="management">
    <div class="container mana">
        <div class="cont-mana">
            <h2 class="mana-title">Effortless Validation for <span class="mana-title-span">Management </span>
            </h2>
            <p class="mana-descr">The Myspace page defines the individual, his or her characteristics, traits,
                personal choices and
                the
                overall personality of the person.</p>
            <ul class="mana-list">
                <li class="mana-list-item">
                    <h3 class="mana-item-title">Accessory makers</h3>
                    <p class="mana-item-descr">While most people enjoy casino gambling, sports betting, lottery
                        and bingo playing for
                        the
                        fun
                    </p>
                </li>
                <li class="mana-list-item">
                    <h3 class="mana-item-title">Alterationists</h3>
                    <p class="mana-item-descr">If you are looking for a new way to promote your business that
                        won`t cost you more money,
                    </p>
                </li>
            </ul>
        </div>
        <picture>
            <source srcset="/img/index-desktop/mana@1x.png 1x, /img/index-desktop/mana@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="/img/index-mobile/mana@1x.png 1x, /img/index-mobile/mana@2x.png 2x"
                media="(max-width: 767px)">
            <img class="mana-photo" src="/img/management-img.png" alt="managment" width="540" height="500">
        </picture>
    </div>
</section>