<section class="prices">
    <div class="container price">
        <h2 class="price-title">Price Table</h2>
        <p class="price-descr">We offer competitive price</p>
        <ul class="price-list">
            <li class="price-item">
                <h3 class="price-item-title">Free</h3>
                <p class="price-item-descr">Brief price description</p>
                <div class="cont-price">
                    <p class="cont-price-descr">0</p>
                    <div class="cont-one">
                        <p class="cont-descr">$</p>
                        <p class="cont-descr-price">Per / month</p>
                    </div>
                </div>
                <p class="price-text">Only 2 Operators</p>
                <p class="price-text">Notifications</p>
                <p class="price-text">Landing Pages</p>
                <button class="btn-price" type="button">Order Now</button>
            </li>
            <li class="price-item">
                <h3 class="price-item-title">Standard</h3>
                <p class="price-item-descr">Brief price description</p>
                <div class="cont-price">
                    <p class="cont-price-descr">5</p>
                    <div class="cont-one">
                        <p class="cont-descr">$</p>
                        <p class="cont-descr-price">Per / month</p>
                    </div>
                </div>
                <p class="price-text">5+ Operators</p>
                <p class="price-text">Notifications</p>
                <p class="price-text">Landing Pages</p>
                <button class="btn-price" type="button">Order Now</button>
            </li>
            <li class="price-item">
                <h3 class="price-item-title">Premium</h3>
                <p class="price-item-descr">Brief price description</p>
                <div class="cont-price">
                    <p class="cont-price-descr">10</p>
                    <div class="cont-one">
                        <p class="cont-descr">$</p>
                        <p class="cont-descr-price">Per / month</p>
                    </div>
                </div>
                <p class="price-text">10+ Operators</p>
                <p class="price-text">Notifications</p>
                <p class="price-text">Landing Pages</p>
                <button class="btn-price" type="button">Order Now</button>
            </li>
        </ul>
    </div>
</section>