<section class="pricing">
    <div class="container">
        <p class="pricing-text">PRICING</p>
        <h2 class="pricing-title">Let`s get some real work done here.</h2>
        <p class="pricing-descr">Prodict is your perfect solution for working. Get started now for free</p>
        <ul class="price-list">
            <li class="price-item">
                <h3 class="price-item-title">Free</h3>
                <p class="price-item-descr">Brief price description</p>
                <div class="cont-price">
                    <p class="cont-price-descr">0</p>
                    <div class="cont-one">
                        <p class="cont-descr">$</p>
                        <p class="cont-descr-price">Per / month</p>
                    </div>
                </div>
                <p class="price-text">Only 2 Operators</p>
                <p class="price-text">Notifications</p>
                <p class="price-text">Landing Pages</p>
                <button class="btn-price" type="button">Order Now</button>
            </li>
            <li class="price-item">
                <h3 class="price-item-title">Standard</h3>
                <p class="price-item-descr">Brief price description</p>
                <div class="cont-price">
                    <p class="cont-price-descr">5</p>
                    <div class="cont-one">
                        <p class="cont-descr">$</p>
                        <p class="cont-descr-price">Per / month</p>
                    </div>
                </div>
                <p class="price-text">5+ Operators</p>
                <p class="price-text">Notifications</p>
                <p class="price-text">Landing Pages</p>
                <button class="btn-price" type="button">Order Now</button>
            </li>
            <li class="price-item">
                <h3 class="price-item-title">Premium</h3>
                <p class="price-item-descr">Brief price description</p>
                <div class="cont-price">
                    <p class="cont-price-descr">10</p>
                    <div class="cont-one">
                        <p class="cont-descr">$</p>
                        <p class="cont-descr-price">Per / month</p>
                    </div>
                </div>
                <p class="price-text">Only 3 Operators</p>
                <p class="price-text">Notifications</p>
                <p class="price-text">Landing Pages</p>
                <button class="btn-price" type="button">Order Now</button>
            </li>
        </ul>
    </div>
</section>