<section class="process">
    <div class="container proc">
        <h2 class="process-title">Quick & Easy Process</h2>
        <p class="process-descr">Do you require some help for your project: Conception workshop,
            prototyping, marketing strategy, landing page, Ux/UI?</p>
        <ul class="process-list">
            <li class="process-list-item">
                <picture>
                    <source srcset="../img/index-desktop/one@1x.png 1x, ../img/index-desktop/one@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/index-mobile/one@1x.png 1x, ../img/index-mobile/one@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="pross-user" src="../img/one.png" alt="photo one" width="98" height="98">
                </picture>
                <p class="pros-item-descr">I can take care of your pitch</p>
            </li>
            <li class="process-list-item revers">
                <picture>
                    <source srcset="../img/index-desktop/two@1x.png 1x, ../img/index-desktop/two@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/index-mobile/two@1x.png 1x, ../img/index-mobile/two@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="pross-user-revers" src="../img/two.png" alt="photo two" width="98" height="98">
                </picture>
                <p class="pros-item-descr-revers">I can design you website</p>
            </li>
            <li class="process-list-item">
                <picture>
                    <source srcset="../img/index-desktop/three@1x.png 1x, ../img/index-desktop/three@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/index-mobile/three@1x.png 1x, ../img/index-mobile/three@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="pross-user" src="../img/three.png" alt="photo three" width="98" height="98">
                </picture>
                <p class="pros-item-descr">I can help marketing strategy</p>
            </li>
            <li class="process-list-item revers">
                <picture>
                    <source srcset="../img/index-desktop/four@1x.png 1x, ../img/index-desktop/four@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="../img/index-mobile/four@1x.png 1x, ../img/index-mobile/four@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="pross-user-revers" src="../img/four.png" alt="photo four" width="98" height="98">
                </picture>
                <p class="pros-item-descr-revers">I can prototype your app</p>
            </li>
        </ul>
        <button class="pross-button" type="button">Contact our expert</button>
    </div>
</section>