<section class="product">
    <div class="container prod">
        <h2 class="product-title">Product was Built Specifically for You</h2>
        <ul class="product-list">
            <li class="product-list-item">
                <div class="product-list-item-cont green">
                    <svg class="icons-item-green" width="11" height="18">
                        <use href="./img/icons.svg#icon-mouse"></use>
                    </svg>
                </div>
                <h3 class="product-item-title">First click tests</h3>
                <p class="product-descr">While most people enjoy casino gambling,</p>
            </li>
            <li class="product-list-item">
                <div class="product-list-item-cont blue">
                    <svg class="icons-item-blue" width="18" height="18">
                        <use href="./img/icons.svg#icon-wave"></use>
                    </svg>
                </div>
                <h3 class="product-item-title">Design surveys</h3>
                <p class="product-descr">Sports betting, lottery and bingo playing for the fun</p>
            </li>
            <li class="product-list-item">
                <div class="product-list-item-cont violet">
                    <svg class="icons-item-violet" width="16" height="18">
                        <use href="./img/icons.svg#icon-hart"></use>
                    </svg>
                </div>
                <h3 class="product-item-title">Preference tests</h3>
                <p class="product-descr">The Myspace page defines the individual.</p>
            </li>
            <li class="product-list-item">
                <div class="product-list-item-cont red">
                    <svg class="icons-item-red" width="14" height="18">
                        <use href="./img/icons.svg#icon-clock"></use>
                    </svg>
                </div>
                <h3 class="product-item-title">Five second tests</h3>
                <p class="product-descr">Personal choices and the overall personality of the person. </p>
            </li>
        </ul>
        <button type="button" class="product-btn">SIGN UP NOW</button>
    </div>
</section>