<section class="strategies">
    <div class="container strat">
        <h2 class="stateg-title">Contents Strategies</h2>
        <p class="strateg-text">We focus on ergonomics and meeting you where you work. It's only a keystroke
            away.</p>
        <ul class="strateg-list">
            <li class="strateg-item">
                <picture>
                    <source srcset="/img/index-desktop/bitmap@1x.jpg 1x, /img/index-desktop/bitmap@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="/img/index-mobile/bitmap@1x.jpg 1x, /img/index-mobile/bitmap@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img class="strateg-photo" src="/img/image.jpg" alt="increasing" width="350" height="185">
                </picture>
                <p class="strateg-item-descr">By <span class="strateg-span">Wahid Ari</span> | 03 March 2019</p>
                <h3 class="strateg-item-text">Increasing Prosperity With Positive Thinking</h3>
            </li>
            <li class="strateg-item">
                <picture>
                    <source srcset="/img/index-desktop/bitmap2@1x.jpg 1x, /img/index-desktop/bitmap2@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="/img/index-mobile/bitmap2@1x.jpg 1x, /img/index-mobile/bitmap2@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img class="strateg-photo" src="/img/Bitmap-1.jpg" alt="motivation" width="350" height="185">
                </picture>
                <p class="strateg-item-descr">By <span class="strateg-span">Wahid Ari</span> | 03 March 2019</p>
                <h3 class="strateg-item-text">Motivation Is The First Step To Success</h3>
            </li>
            <li class="strateg-item">
                <picture>
                    <source srcset="/img/index-desktop/bitmap3@1x.jpg 1x, /img/index-desktop/bitmap3@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="/img/index-mobile/bitmap3@1x.jpg 1x, /img/index-mobile/bitmap3@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img class="strateg-photo" src="/img/Bitmap.jpg" alt="success" width="350" height="185">
                </picture>
                <p class="strateg-item-descr">By <span class="strateg-span">Wahid Ari</span> | 03 March 2019</p>
                <h3 class="strateg-item-text">Success Steps For Your Personal Or Business</h3>
            </li>
        </ul>
    </div>
</section>