<section class="support">
    <div class="container supp">
        <picture>
            <source srcset="/img/index-desktop/support@1x.png 1x, /img/index-desktop/support@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="/img/index-mobile/support@1x.png 1x, /img/index-mobile/support@2x.png 2x"
                media="(max-width: 767px)">
            <img src="/img/support-img.png" alt="customer support" width="540" height="500">
        </picture>
        <div class="cont-supp">
            <h2 class="supp-title">Easier decision making for <span class="supp-title-span">Customer
                    Support</span></h2>
            <p class="supp-descr">The Myspace page defines the individual, his or her characteristics, traits,
                personal
                choices and the
                overall
                personality of the person.</p>
            <ul class="supp-list">
                <li class="supp-list-item">
                    <div class="support-item-cont">
                        <span class="supp-item yellow"><svg class="supp-item-icon" width="17" height="12">
                                <use href="/img/icons.svg#icon-tick"></use>
                            </svg></span>
                        <p class="item-descr">Never worry about overpaying for your energy again.</p>
                    </div>
                </li>
                <li class="supp-list-item">
                    <div class="support-item-cont">
                        <span class="supp-item red"><svg class="supp-item-icon" width="17" height="12">
                                <use href="/img/icons.svg#icon-tick"></use>
                            </svg></span>
                        <p class="item-descr">We will only switch you to energy companies that we trust and will
                            treat you
                            right</p>
                    </div>
                </li>
                <li class="supp-list-item">
                    <div class="support-item-cont">
                        <span class="supp-item blue"><svg class="supp-item-icon" width="17" height="12">
                                <use href="/img/icons.svg#icon-tick"></use>
                            </svg></span>
                        <p class="item-descr">We track the markets daily and know where the savings are.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>