.apply {
  padding-top: 96px;
  padding-bottom: 70px;
}
.apply-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin: 0 auto;
  margin-bottom: 79px;
}
.apply-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.apply-photo {
  display: flex; /* Використовуємо Flexbox */
  justify-content: center; /* Центрування по горизонталі */
  align-items: center; /* Центрування по вертикалі */
}
.apply-cont {
  display: block;
  max-width: 355px;
  margin-top: 80px;
}
.apply-item-text {
  font-weight: 500;
  font-size: 20px;
  color: #22343d;
  margin-bottom: 16px;
}
.apply-item-title {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 16px;
}
.apply-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.apply-item-revers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 74px;
}
.apply-cont-revers {
  display: block;
  max-width: 355px;
  margin-top: 80px;
}

.apply-item-text-revers {
  font-weight: 500;
  font-size: 20px;
  color: #22343d;
  margin-bottom: 16px;
}
.apply-item-title-revers {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 16px;
}
.apply-item-descr-revers {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.apply-photo-revers {
  margin-top: 69px;
}
.btn-apply {
  display: none;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1140px) {
  .apply {
    padding-top: 101px;
    padding-bottom: 133px;
  }
  .apply-title {
    font-size: 34px;
    margin-bottom: 73px;
  }
  .apply-item {
    margin-bottom: 100px;
  }
  .apply-cont {
    display: block;
    max-width: 438px;
    margin: 35px 0 34px 89px;
  }
  .apply-item-revers {
    flex-wrap: wrap-reverse;
    margin-bottom: 100px;
  }
  .apply-cont-revers {
    display: block;
    order: 1;
    max-width: 445px;
    margin: 35px 76px 35px 0;
  }
  .apply-photo-revers {
    order: 2;
    margin-top: 0;
  }
  .apply-item:last-child {
    margin-bottom: 77px;
  }
  .btn-apply {
    display: block;
    border-radius: 8px;
    width: 224px;
    height: 44px;
    background: #02897a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin: 0 auto;
  }
}
