.cont-clients {
  padding: 50px 30px 77px 26px;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  color: #22343d;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 38px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 52px;
}
.clients-logo {
  transition: transform 250ms ease-in-out;
}
.clients-picture {
  width: 164px;
  height: auto;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1140px) {
  .cont-clients {
    padding: 100px 130px 117px 130px;
  }
  .clients-title {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .clients-list {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 64px;
    padding: 16px 0px;
    width: 850px;
    height: 82px;
  }
  .clients-picture {
    width: 213px;
  }
}
