.efects {
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 29px;
  padding-bottom: 26px;
}
.efects-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin: 0 auto;
  margin-bottom: 33px;
  text-align: center;
}
.cont-efect {
}
.amico-img {
  display: block;
  margin-bottom: 31px;
}
.efects-img {
  display: none;
}
.efects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.efects-item {
  margin-left: 2px;
  margin-right: 8px;
}
.cont-efects-item-svg {
  margin-right: 14px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 100px;
  background: #f4f5f7;
}
.efects-item-svg {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 14px;
}
.efects-item:last-child {
  margin-bottom: 6px;
}
.efects-item-title {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
}
.efects-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1140px) {
  .efects {
    padding-top: 294px;
    padding-bottom: 0;
  }
  .efects-title {
    font-size: 34px;
    margin-bottom: 56px;
  }
  .cont-efect {
    display: flex;
    margin-top: 56px;
  }
  .amico-img {
    display: none;
  }
  .efects-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .efects-list {
    width: 543px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-left: 60px;
  }
  .efects-item-descr {
    margin-left: 3px;
  }
}
