.header {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-weight: 700;
  font-size: 30px;
  display: flex;
  line-height: 0.93;
  color: #173a56;
  align-items: center;
  gap: 8px;
  padding-top: 17px;
  padding-bottom: 17px;
}
.nav-list,
.list-btn {
  display: none;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 1140px) {
  .header {
    box-shadow: none;
  }
  .header-container {
    display: flex;
  }
  .navigation {
    display: flex;
  }
  .header-logo {
    gap: 16px;
    margin-right: 237px;
  }
  .nav-list {
    display: flex;
    gap: 30px;
  }
  .nav-item-link {
    padding: 26px 0;
    display: block;
    line-height: 1.75;
    color: #22343d;
  }
  .active {
    font-weight: 600;
  }
  .list-btn {
    display: flex;
    gap: 21px;
    margin-left: auto;
    align-items: center;
  }

  .list-btn-sign {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
  }
  .list-btn-sign:hover {
    background: #02897a;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .burger-btn,
  .burger-icon {
    display: none;
  }
}
