.mana {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 100px 31px;
  padding-bottom: 50px;
}
.cont-mana {
  padding-right: 5px;
  padding-left: 10px;
  margin-top: 50px;
}
.mana-title {
  max-width: 224px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}
.mana-title-span {
  display: block;
  margin-top: 8px;
  font-weight: 700;
  font-size: 32px;
}
.mana-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
}
.mana-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  margin-top: 16px;
}
.mana-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  margin-top: 12px;
}
@media screen and (min-width: 1140px) {
  .mana {
    flex-direction: row;
    padding: 50px 15px;
  }
  .cont-mana {
    padding-top: 41px;
    padding-bottom: 41px;
    width: 486px;
    margin-top: 0;
    margin-right: 84px;
  }
  .mana-title {
    max-width: 224px;
    height: 80px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .mana-descr {
    margin-bottom: 30px;
  }
  .mana-item-title {
    margin-top: 25px;
  }
  .mana-item-descr {
    margin-top: 12px;
  }
}
