.proc {
  align-items: center;
  padding-top: 71px;
  padding-bottom: 50px;
  padding-right: 31px;
  padding-left: 32px;
}
.process-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  max-width: 348px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.process-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  max-width: 542px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
.process-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.process-list-item {
  display: flex;
  align-items: center;
  gap: 14px;
}
.revers {
  flex-direction: row-reverse;
}
.pros-item-descr {
  width: 236px;
  min-height: 64px;
  border-radius: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #2f281e;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 13px 19px;
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  margin: 0 auto;
}
.pros-item-descr-revers {
  width: 236px;
  height: 64px;
  border-radius: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #2f281e;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 13px 19px;
  min-height: 50px;
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  margin: 0 auto;
}
.pross-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  margin: 0 auto;
}
@media screen and (min-width: 1140px) {
  .proces {
    max-width: 916px;
  }
  .process-title {
    margin-bottom: 25px;
  }
  .process-descr {
    margin-bottom: 40px;
  }
  .process-list {
    width: 916px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 91px;
    row-gap: 25px;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;
  }
  .process-list-item {
    width: 408px;
  }
  .process-list-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .process-list-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .process-list-item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .process-list-item:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }
  .pros-item-descr {
    width: 281px;
  }
  .pros-item-descr-revers {
    width: 281px;
  }
}
